### inforation about the dnv file:
# Due to lack of credits i created a fallback.
# you can change the LLM provider to ollama or cluade depndining on credits.
# If hte LLM provider will show ollama the OLLAMA_MODEL will be choosen.
# If the LLM provider shows cluade the Claude Model will be choosen


LLM_PROVIDER=ollama

## Choosing ollama as LLM_PROVIDER
OLLAMA_MODEL=llama3.1:8b

## working with claude as the LLM_PROVIDER
ANTHROPIC_API_KEY=your_claude_key_here
CLAUDE_MODEL=claude-sonnet-4-6

#Other system keys
BRAVE_API_KEY=
NEWSDATA_API_KEY=